include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include file_validator/templates *
recursive-include file_validator/static *

prune doc*
prune tests*
