pip==22.3.1
bump2version==0.5.11
wheel==0.38.1
watchdog
flake8==3.7.8
tox==3.14.0
Sphinx==1.8.5
twine==1.14.0
pytest==6.2.4
black==21.7b0
pytest-cov>=3.0.0
filetype>=1.1.0
termcolor>=1.1.0
Django>=4.1
mkdocs==1.3.0
jinja2==3.0.0
puremagic>=1.14
humanize>=4.4.0
python-dotenv>=0.21.0
pre-commit>=3.1.0
build>=0.10.0
click>=8.0.2
coverage>=6.5.0
coveralls>=3.3.1
# python-magic-bin>=0.4.14 #if run on Windows un-comment the following line
# python-magic>=0.4.27  # else other platforms un-comment the following line
